# Add any directories, files, or patterns you don't want to be tracked by version control
src/Cemetery/.vs

src/Cemetery/Temp

src/Cemetery/Library
src/Cemetery/.idea
src/Cemetery/Assembly-CSharp.csproj
src/Cemetery/Assembly-CSharp-Editor.csproj
src/Cemetery/KnowledgeIsPower.sln
src/Cemetery/KnowledgeIsPower.csproj
src/Cemetery/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll

src/Cemetery/obj

.vs
/builds
src/Cemetery/Assets/Plugins/Editor/JetBrains

*.csproj

# Build related
Cake/tools/**
Cake/!tools/packages.config
